<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210601</td>
</tr>






<tr>
<th scope="row">title</th>
<td>여름염색으로 기분 전환하고 코로나 블루 극복  @ 위드뷰티살롱... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>영 기분도 안나고 뭔가 우울해서 코로나 블루인가 싶었는데 염색하고 나니 확실히 그냥 쌩얼도 화사해보여서 좋았어요! 완전 극복은 아니더라도 염색으로 어느정도 기분전환하고 코로나 블루 극복하는데... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/marieeeee_?Redirect=Log&logNo=222379296176'>https://blog.naver.com/marieeeee_?Redirect=Log&logNo=222379296176</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210521</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 유산균 먹이고 장건강 케어!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이제서야 강아지 유산균을 찾아보게 되니까 너무 미안했어요 집에 있는 댕댕이의 변 상태를 살펴보면... 믿고 강아지 유산균을 주문해보기로 결정했는데요 귀여운 패키지랑 강아지를 나란히 세워놓은 리뷰... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/pale_brown?Redirect=Log&logNo=222360180457'>https://blog.naver.com/pale_brown?Redirect=Log&logNo=222360180457</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210519</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 관절영양제 내 반려묘의 관절을 위해</td>
</tr>






<tr>
<th scope="row">content</th>
<td>집으로 돌아와서 로또에게 먹일 강아지 관절영양제도 함께 찾아봤어요. 몸뚱이에 걸맞지 않게 높은... 어떤 강아지 관절영양제를 먹일까 찾아보던 찰나에 함께 고양이를 기르는 친구가 먹이고 있던 것이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/dnjstodxhsi?Redirect=Log&logNo=222356537758'>https://blog.naver.com/dnjstodxhsi?Redirect=Log&logNo=222356537758</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210601</td>
</tr>






<tr>
<th scope="row">title</th>
<td>분당강아지분양 건강하게 만난</td>
</tr>






<tr>
<th scope="row">content</th>
<td>분당강아지분양 건강하게 만난 요즘 저희 집 댕댕이와 정말 행복한 날을 보내고 있어요. 한 달 전에 아이를 데리고 왔어요. 분당강아지분양 통해 건강한 아이로 분양을 받았고 기존의 샵들 보다 양심적이고 착한... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/bonodong1?Redirect=Log&logNo=222378878284'>https://blog.naver.com/bonodong1?Redirect=Log&logNo=222378878284</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210521</td>
</tr>






<tr>
<th scope="row">title</th>
<td>고양이 혈변 관리가 중요해요!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>고양이가 건강할때가 얼마나 행복한건지 이번에 제대로 깨닳았답니다. 보시다시피 울애기는 뚱냥이.. 이상한건 사료를 그렇게 많이 먹지도 않고 츄르나 다른 간식에는 크게 관심이 없는 고양이에요. 그런데도... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/kashinryu?Redirect=Log&logNo=222360350925'>https://blog.naver.com/kashinryu?Redirect=Log&logNo=222360350925</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210602</td>
</tr>






<tr>
<th scope="row">title</th>
<td>고양이 화장실 냄새없는 모래_캣라이프 냄새먹는 두부</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이번 고양이 화장실 통세척날엔 캣라이프 고양이화장실모래를 사용해보게됨 고양이 화장실은 매달 한번씩 통모래갈이 &amp; 세척을 해주는 중. 본인들 제품은 어쩜 그렇게 귀신같이 아는지... 와서 냄새맡고... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/ggokji1215?Redirect=Log&logNo=222380998290'>https://blog.naver.com/ggokji1215?Redirect=Log&logNo=222380998290</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210525</td>
</tr>






<tr>
<th scope="row">title</th>
<td>연신내 미용실 상큼한 플라워펌으로 기분전환하고 왔어요!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>평소엔 여행을 가는 것으로 기분전환을 하던 저였는데 요즘에는 그럴 수 없어서 기분이 꿀꿀했어요.... 비록 제가 좋아하는 여행을 요즘 못가고 있지만 이렇게라도 기분을 전환할 수 있는 시간을 가질 수 있어서... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/hyuna2965?Redirect=Log&logNo=222366095111'>https://blog.naver.com/hyuna2965?Redirect=Log&logNo=222366095111</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>서울강아지분양 이런게 행복이야</td>
</tr>






<tr>
<th scope="row">content</th>
<td>서울강아지분양 알아봐야겠다는 생각을 하게 됐어요. 원래도 산과 바다 등 여행을 다니는 것을... 워낙 애정이 많으신 분들이라서 서울강아지분양 하고 나면 기본적인 사료챙겨주기, 산책 등에 대한 것들은... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/sopia9105?Redirect=Log&logNo=222384234505'>https://blog.naver.com/sopia9105?Redirect=Log&logNo=222384234505</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210601</td>
</tr>






<tr>
<th scope="row">title</th>
<td>고양이사료 오픈팜 원료부터 기호성까지 감동</td>
</tr>






<tr>
<th scope="row">content</th>
<td>8묘의 시식 후기를 들려드릴게요 :) 오픈팜을 보고 처음 느낀 점, 고양이 사료인데 이름이 왜... 옥수수, 밀, 대두 등의 곡물이 들어가지 않은 그레인프리 고양이사료입니다. 슈퍼푸드 중 하나인 크랜베리가... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/sannyten?Redirect=Log&logNo=222379376345'>https://blog.naver.com/sannyten?Redirect=Log&logNo=222379376345</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 똥 먹는 이유 도대체 왜?</td>
</tr>






<tr>
<th scope="row">content</th>
<td>사실 저희 댕댕이에게는 식분증이 있어요 식분증은 말 그대로 배설물(똥)을 먹는 행위에요 이 식분증이 심한 경우에는 본인의 똥뿐만 아니라 다른 강아지나 동물들의 똥까지 먹는데, 강아지 똥 먹는 이유에는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jiiiine?Redirect=Log&logNo=222384583252'>https://blog.naver.com/jiiiine?Redirect=Log&logNo=222384583252</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:59</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @utzzal1: 고양이 들고 지하철 타신분이 계신데 https://t.co/OouqENjDir</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>13885</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:11</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Doul0vey8n: 심심하면 하는 겹친소

성인 여성
20대 하고 있는 중
혐오 X 차별 X
빻은 생각이 가득한 사람 X
자기 사상 강요 X

고양이 4마리 키움
그림 가끔 그림
게임, 술 좋아함
사진 찍고 찍히기 좋아함
귀염둥이들 사랑함…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>11</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:12</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @0323o0o: 너무 신나게 놀아버린 강아지 https://t.co/bsEhL9a5Wz</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>215</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:57</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Qin_77: 고양이 최고 ! https://t.co/EKi9X4kMb0</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>148</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>sns에서 인기많은 강아지와 견주 https://t.co/6dvawpdwaL</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:08:35</td>
</tr>

<tr>
<th scope="row">content</th>
<td>원래 음료 하나만 사려햇는데 운동 나오는 길에 엄마한테 전화햇다가 혼나서 하나 더 삼 기분 전환용임 하나는</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:03</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Ami_the_cat: 오늘도 일하는데 옆에 고양이 한바가지 https://t.co/wp4aSkHXtl</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:32:37</td>
</tr>

<tr>
<th scope="row">content</th>
<td>새로운 장소 오니까 확실히 기분전환 되긴 하네 귀찮아도 자주자주 나와야징</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:39:41</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @FF14_TYAKO: #파판_트친소 #파판14_트친소
#초코보_트친소

💧본체 여라펠, 여캐 위주 고정커마 (종종 기분전환 삼아 종변!)
💧백마 주직 성인 여성 유저
💧스샷, 만추, 채제작 전부 좋아요!  
💧극만신 활동중, 차차 다른 하컨도…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>2</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @arirang_ASC: [ENHYPEN]
⠀
이대로 망해버릴 세상😖 한 줄기 빛과 소금 울 아기픈♡ 짱기요미 강아지들이 한 시간 내내 와글와글 방방 신나게 놀고 갔다고 하는데요? 아기픈이들이 신나면 에엣씨도 쪼아 ㅠ‿ㅠ
⠀
#ENHYPEN_A…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>9870</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<br><br>

<embed src= "https://www.instagram.com/p/CPxPgwhMpGn/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CPsbGZ4F4_O/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CPybfd6FZ_E/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CKQKuwop8DB/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/COPlfVOnGYt/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


    
</section>
</div>
</body>



</html>