<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210603</td>
</tr>






<tr>
<th scope="row">title</th>
<td>남양주고양이분양 외로움을 잊게 해줘</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이왕이면 고양이로요. 이렇게 찾다가 발견한 곳이 남양주고양이분양 가능한 곳이었어요. 사진을 보기만 해도 외로움의 절반이 날아가는 것 같았어요. 행복이라는 다른 감정이 밀려와서 그런 게 아닐까 싶어요.... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/blackcat0929?Redirect=Log&logNo=222381953639'>https://blog.naver.com/blackcat0929?Redirect=Log&logNo=222381953639</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210525</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 눈 충혈 결막염 미리 예방해요</td>
</tr>






<tr>
<th scope="row">content</th>
<td>계속 강아지를 엄청 예뻐할거라는 느낌이 들었다고해서 신기했어요. 어느새 산책까지 도맡아 제가 시키고 있네요. 여느때와 같이 산책을 하고 돌아와서 발 닦아주고 보니까 강아지 눈 충혈이 되어있는거예요..... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/ayougbest?Redirect=Log&logNo=222364848449'>https://blog.naver.com/ayougbest?Redirect=Log&logNo=222364848449</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210528</td>
</tr>






<tr>
<th scope="row">title</th>
<td>토이푸들분양가 만족스러웠던 강서강아지분양</td>
</tr>






<tr>
<th scope="row">content</th>
<td>함께 성남강아지분양 샵이 좋은 곳이 어디일지 알아보기로 했어요. 딱 한 군데를 결정하는게 쉬운 일이... 직접 발품 팔아 돌아다니면서 성남강아지분양 알아봤어요. 그렇게 다양한 곳을 돌고 돌아 루피퍼피라는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/lipman?Redirect=Log&logNo=222371147812'>https://blog.naver.com/lipman?Redirect=Log&logNo=222371147812</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210601</td>
</tr>






<tr>
<th scope="row">title</th>
<td>고양이사료 오픈팜 원료부터 기호성까지 감동</td>
</tr>






<tr>
<th scope="row">content</th>
<td>8묘의 시식 후기를 들려드릴게요 :) 오픈팜을 보고 처음 느낀 점, 고양이 사료인데 이름이 왜... 옥수수, 밀, 대두 등의 곡물이 들어가지 않은 그레인프리 고양이사료입니다. 슈퍼푸드 중 하나인 크랜베리가... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/sannyten?Redirect=Log&logNo=222379376345'>https://blog.naver.com/sannyten?Redirect=Log&logNo=222379376345</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210602</td>
</tr>






<tr>
<th scope="row">title</th>
<td>고양이 화장실 냄새없는 모래_캣라이프 냄새먹는 두부</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이번 고양이 화장실 통세척날엔 캣라이프 고양이화장실모래를 사용해보게됨 고양이 화장실은 매달 한번씩 통모래갈이 &amp; 세척을 해주는 중. 본인들 제품은 어쩜 그렇게 귀신같이 아는지... 와서 냄새맡고... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/ggokji1215?Redirect=Log&logNo=222380998290'>https://blog.naver.com/ggokji1215?Redirect=Log&logNo=222380998290</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>청주 레스토랑 애드립(adlibs) 데이트코스로 기분전환</td>
</tr>






<tr>
<th scope="row">content</th>
<td>청주 레스토랑 애드립(adlibs) 데이트코스로 기분전환 그녀들의 지나간 생일파티 저와 친구는 서로... 할만한 강렬한 맛은 잘 모르겠어요 그런데 정성스럽게 준비된 예쁜 음식들이 하나씩 나올때마다 기분이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/soonsu2000?Redirect=Log&logNo=222384807734'>https://blog.naver.com/soonsu2000?Redirect=Log&logNo=222384807734</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210331</td>
</tr>






<tr>
<th scope="row">title</th>
<td>천호 네일 기분전환 확실하게 하고 왔어요!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>고급미 장난 아니죠. 쌤들 모두 정말 친절하셔서 기분 좋게 기분전환하고 왔네요. 서비스나 실력 면에서 천호 네일 네일루카 본점에 방문해보세요! 후회 없는 방문이 되실 거라 믿어요. &amp;</td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/one12701010?Redirect=Log&logNo=222293952809'>https://blog.naver.com/one12701010?Redirect=Log&logNo=222293952809</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210602</td>
</tr>






<tr>
<th scope="row">title</th>
<td>동탄고양이분양 입소문타는 이유</td>
</tr>






<tr>
<th scope="row">content</th>
<td>질리도록 매일 보던 절친이 동탄에서 고양이분양을 받은 뒤로는 매일같이 집에만 붙어 나오질... 작고 소중하다는 말이 이럴 때 쓰이는 거구나 싶었고 고양이는 애교가 없고 할퀴기만 하는 줄 알았는데 귀여움... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/emongo3o?Redirect=Log&logNo=222380861177'>https://blog.naver.com/emongo3o?Redirect=Log&logNo=222380861177</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210519</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 관절영양제 내 반려묘의 관절을 위해</td>
</tr>






<tr>
<th scope="row">content</th>
<td>집으로 돌아와서 로또에게 먹일 강아지 관절영양제도 함께 찾아봤어요. 몸뚱이에 걸맞지 않게 높은... 어떤 강아지 관절영양제를 먹일까 찾아보던 찰나에 함께 고양이를 기르는 친구가 먹이고 있던 것이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/dnjstodxhsi?Redirect=Log&logNo=222356537758'>https://blog.naver.com/dnjstodxhsi?Redirect=Log&logNo=222356537758</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210531</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강아지 유산균 아리의 장건강을 위해!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>하고 강아지 유산균을 검색해봤는데 있길래 바로 주문해서 배송되자마자 야무지게 챙겨먹이고 있답니다 원래 저희집 강아지 아리가 장이 좀 약하고 예민한 편이라 설사를 하기도 하고 또는 변비로 몇날... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/manpwup?Redirect=Log&logNo=222376527288'>https://blog.naver.com/manpwup?Redirect=Log&logNo=222376527288</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:12</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @_hyuji_cat: 제 이름 알아듣는 똑똑이 사랑둥이..😍
가족을 기다리고 있어요❣

#고양이 #삼색고양이 #임보 #임시보호 #임보처 #입양 #입양처 #입양홍보 #길냥이 #길고양이 #유기묘 #휴지네_루팡이 https://t.co/iOH3o7…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:24:31</td>
</tr>

<tr>
<th scope="row">content</th>
<td>기분전환으로 게이무하구올게</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>4</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:14</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Y0UNGKmyfox: 나는 ‘대진표를 잘못 만난 대이식스’라는 말이 너무 웃겨…
박성짅 다른 그룹 가면 먹짱 할 수 있을 정도로 충분히 잘 먹는데 팀에 더 잘 먹는 강영연 있고,
김언필 충분히 강아지상인데 팀에 그냥 강아지 그 자체인 운도윤…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>134</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:13</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @yolandaplzBcool: 고양이 한 마리만 주운 줄 알았는데...4/분양편 https://t.co/geGQXrEVvk</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>7179</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @0323o0o: 너무 신나게 놀아버린 강아지 https://t.co/bsEhL9a5Wz</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>215</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:15</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @mypuppyisjeno: 제노 강아지 귀 뿅 https://t.co/EkzHAssD8t</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>94</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 09:42:31</td>
</tr>

<tr>
<th scope="row">content</th>
<td>#렝밀 미루 좀 우울해 보이면 일부로 질색팔색하는 흡혈귀 소리 할 것 같음
⚰그렇게 멍하니 있으면 본인이 피를 빨아마실지도 모른다네~
화 돋우고 달래서 빠르게 기분 전환 시킨 다음에야 무슨 일 있냐고 물을… https://t.co/Cj1U2HAADU</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>2</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:41:12</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @HaechanTube: 칭찬 받는 강아지이 ㅠ ㅋㅋㅋㅋ https://t.co/Hcd0rUPlb6</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>137</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>강아지</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:57</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Qin_77: 고양이 최고 ! https://t.co/EKi9X4kMb0</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>148</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>고양이</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:26:32</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @yaho_ns: 말수가 줄어들고 햇살같던 미소가 사라지고 축 처진 어깨로 하늘만 보는게 온 세상 근심걱정을 짊어진 것처럼 보였음. 짐작가는게 있었지만.. 말해줄 수 있는 문제가 아니었기 때문에 어떻게든 기분전환을 시켜주려고 노력함. 그렇게 이…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>6</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분전환</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>분노</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<br><br>

<embed src= "https://www.instagram.com/p/CHjY2EyAe9-/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CMPXOjZnHxw/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CPxPgwhMpGn/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/CLrXu_7FJuw/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


<embed src= "https://www.instagram.com/p/B-RFLbnlS7Q/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%" >


    
</section>
</div>
</body>



</html>