<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210610</td>
</tr>






<tr>
<th scope="row">title</th>
<td>행복한건강파트너 꼭필요한건강보험 악사건강보험 견적 받아서... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>아는사람이 내용을 알고 있기도 하였고 인터넷을 통해 알아보니 행복한건강파트너에 대해서 살펴볼 수... 타보험사의 행복한건강파트너를 한번에 비교하고 차례로 나란히 정돈된 내용을 알려주는 부분이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/first_media?Redirect=Log&logNo=222392522897'>https://blog.naver.com/first_media?Redirect=Log&logNo=222392522897</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210615</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[별별기자단 홍예진] 당신의 행복을 측정해드립니다 - 행복지수</td>
</tr>






<tr>
<th scope="row">content</th>
<td>당신의 행복을 측정해드립니다! 행복지수 여러분의 몸무게는 몇 kg인가요? 오늘의 기온은 몇 ℃이죠? 집에서 학교까지의 거리는 몇 km인가요? 우리는 살아가며 많은 것을 측정합니다. 몸무게를 잴 때는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/nhrck?Redirect=Log&logNo=222398980430'>https://blog.naver.com/nhrck?Redirect=Log&logNo=222398980430</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210610</td>
</tr>






<tr>
<th scope="row">title</th>
<td>남한산성 카페 들 기분 좋은 힐링 스팟</td>
</tr>






<tr>
<th scope="row">content</th>
<td>딱 좋은 그런 어느 초여름 남한산성에서 파전이나 먹을까 싶었지만 상당히 배가 부른 상태였고 (뭔가... 들 기분 좋은 힐링 스팟 새하얀 건물, 한옥인 듯 하지만 한옥은 아닌 것 같은 평소 한옥을 좋아하는데 저런... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/happy_bolbol?Redirect=Log&logNo=222391819494'>https://blog.naver.com/happy_bolbol?Redirect=Log&logNo=222391819494</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210614</td>
</tr>






<tr>
<th scope="row">title</th>
<td>안양보청기 기분좋은 방문</td>
</tr>






<tr>
<th scope="row">content</th>
<td>방문해서 기분좋은 하루가 된거같아서 여러분께도 이 기분 전달해드려요 ~ 전화로 미리상담 해도되니까요 꼭 한번 연락해보길 추천해요 상호 - 서울덴마크보청기 안양평촌 프리미엄센터 주소 - 경기도 안양시... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/wltjs0252?Redirect=Log&logNo=222397805416'>https://blog.naver.com/wltjs0252?Redirect=Log&logNo=222397805416</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210208</td>
</tr>






<tr>
<th scope="row">title</th>
<td>백담사 맛집 사조소문난식당,기분 좋은 배부름!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>모두가 곁들여 먹기에 좋은 것들이구요. 강원도까지 온 보람이 있게도 정성스러운 시골 냄새 물씬... 배부르게 백담사 맛집에서 식사하고 지역명물 특산품까지 구매하고 오랜만에 기분 좋은 외출이었어요.... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/momzone_fit?Redirect=Log&logNo=222236570215'>https://blog.naver.com/momzone_fit?Redirect=Log&logNo=222236570215</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210610</td>
</tr>






<tr>
<th scope="row">title</th>
<td>창원고양이분양 함께즐기는 행복</td>
</tr>






<tr>
<th scope="row">content</th>
<td>행복할 거라고 생각은 하고 있었지만 생각했던 거 이상으로 더 행복한 하루하루를 보내고 있는 요즘이랍니다. 아직 집으로 데려온지 시간이 많이 지나지 않아 낯설어하고 있기는 하지만 가만히 보고만 있어도... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/blackcat0929?Redirect=Log&logNo=222392207185'>https://blog.naver.com/blackcat0929?Redirect=Log&logNo=222392207185</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210611</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강동구피부관리 기분 좋은 변화</td>
</tr>






<tr>
<th scope="row">content</th>
<td>제가 요새 너무 뿌듯해하며 기분 좋은 변화를 겪고 있어요~ 얼마 전 까지만 해도 각질과 트러블때문에... 그 정도로 실력이 좋은 곳이라 가기 전부터 얼마나 기대가 되었는지 몰라요. 한 편으론 그렇게 잘 하는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/majic999?Redirect=Log&logNo=222393807640'>https://blog.naver.com/majic999?Redirect=Log&logNo=222393807640</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210521</td>
</tr>






<tr>
<th scope="row">title</th>
<td>흥국화재 행복을다주는가족사랑종합보험 가심비를 잡았습니다!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>오늘은 이런 고객분들에게 알맞은 상품인 흥국화재 행복을다주는가족사랑종합보험을... [흥국화재 행복을다주는가족사랑종합보험] [31세 여성/ 3대질병 제안서 85,756원] 일반 5천, 유사 1천 뇌와 심장 혈관... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/27life?Redirect=Log&logNo=222360122050'>https://blog.naver.com/27life?Redirect=Log&logNo=222360122050</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210305</td>
</tr>






<tr>
<th scope="row">title</th>
<td>기분좋은 세안 클렌저 사용하고 있어요</td>
</tr>






<tr>
<th scope="row">content</th>
<td>같은 기분이 든다고 해야 할까요? 일단 가장 마음에 든 부분은 성분 자체가 순하지만 세정력이... 아침에 일어나서 가장 먼저 세안을 하게 되는게 기분 좋은 아침을~! 그리고 저녁에 잠들기 전 세안할때 좋은 꿈... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/ruledestroye?Redirect=Log&logNo=222265485123'>https://blog.naver.com/ruledestroye?Redirect=Log&logNo=222265485123</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210527</td>
</tr>






<tr>
<th scope="row">title</th>
<td>강남역바버샵 기분 좋은 만족감</td>
</tr>






<tr>
<th scope="row">content</th>
<td>스몰 럭셔리 체험을 하면서 무척 대우 받는 것 같은 기분이었다고 나중에 이야기를 했어요. 영화에... 헤어부터 쉐이빙에 그리고 기분좋은 만족감까지 더하니 이곳은 단연 남자들의 뷰티샵, 힐링 장소라고 불러도... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/hneenh?Redirect=Log&logNo=222369766643'>https://blog.naver.com/hneenh?Redirect=Log&logNo=222369766643</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:26</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @wooah_nv: [#나나]
데뷔때부터 존경해왔던 선배님들께 직접 만나서 앨범도 드리고 인사 드릴 수 있어서 너무x100 행복했어요.. 감사합니다 💜 1위도 너무 축하드립니다! 선배님들 처럼 무대에서 많은사람들에게 행복을 줄 수 있는 그런 가…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>5899</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:14</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @red_vel_0801: ❤💛💙💚💜
#RT 
#레드벨벳_완전체_컴백_기념
러비한정 X 타팬참여 O
작지만 기분이 좋아서 합니다
당발은 티저뜨면 하겠습니다
레드벨벳 컴백 많관부!!
❤💛💙💚💜 https://t.co/T9Gs6zbW8o</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1067</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:50:35</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @CUBE_LIGHTSUM: [📸] 210617 @ #엠카운트다운 

💛 지치고 힘든 목요일 밤도! 라잇썸의 에너지로 기분 좋은 마무리하세요 💜
　
#LIGHTSUM #라잇썸
#Vanilla https://t.co/C1ssY6PBuP</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1315</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:22</td>
</tr>

<tr>
<th scope="row">content</th>
<td>그리고 오늘 유레카 외치면서 산 게 이것
알라딘에서 파는 스티키 인덱스였는데
무려! 클립형식으로!!! 책에 끼워서 사용 가능함!!!(보통은 양면테이프 고정이라 책에 못붙임!!!) 
하 기분 정말좋아요
이걸로… https://t.co/DDIOx4MtY0</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:50:28</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @CUBE_LIGHTSUM: [📸] 210617 @ #엠카운트다운 

💛 지치고 힘든 목요일 밤도! 라잇썸의 에너지로 기분 좋은 마무리하세요 💜
　
#LIGHTSUM #라잇썸
#Vanilla https://t.co/C1ssY6PBuP</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1315</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋은</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:31</td>
</tr>

<tr>
<th scope="row">content</th>
<td>질위치
광주서구채팅앱
섹트
커닐링구스
커닐
광주서구로드샵
기혼
유부녀
대전
소소한행복
외로운유부부인몰래
광주서구채팅앱추천
야채춘권
아침운동
광주서구사냥개
다이어트
전신애무
아줌마
reduce61552 https://t.co/qOY6kj9P3T</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:23</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @myong3813: 귀여운 언데드 보면서 마음의 안정찾기 https://t.co/WCXJhTa4jU</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:38</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @jiminimy: 제주도 가는 최다행복코스😊
🚃Chim Chim Bus 타고
김포 공항에서 내려요.

✈Chim Chim Airplane  타고 제주도에서 내려요.
#방탄소년단지민 
#JIMIN #지민
#Jiminie
#BTSJIMIN 
#P…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>314</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:18</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @whatevahappenz: 벤담은 실패했다씨발 최대다수의 최대행복은 개소리다 https://t.co/Jb4XesmFHZ</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>3</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:46</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Ma_Shownu: 큰 금액은 아니지만 셔누 생일이니깐, 셔누 덕분에 느끼는 행복을 소소하게 나눔🌻

#HBDtoSHOWNU 
#찬란하고_애틋한_셔누ayo https://t.co/3O7BX6fvVj</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>12</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>행복</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>행복</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<br><br>

    
</section>
</div>
</body>



</html>