<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20201218</td>
</tr>






<tr>
<th scope="row">title</th>
<td>그래도 맞춤법은 중요하다 (feat. 웃긴 맞춤법)</td>
</tr>






<tr>
<th scope="row">content</th>
<td>책 &lt;어른의 어휘력&gt;을 읽다가 '웃긴 맞춤법(117p)' 대목에서 정신을 차릴 수가 없었다. 인터넷에서 더 찾아보곤, 한밤중에 혼자 배꼽에 경련을 일으키며 얼마나 웃었는지. 골이따분한 성격 나보고 일해라 절해라... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/pyongma?Redirect=Log&logNo=222177276445'>https://blog.naver.com/pyongma?Redirect=Log&logNo=222177276445</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>푸릇 푸릇 이쁜 꽃과 풀들이 잔뜩 있는 기분 좋아지는 카페 추천</td>
</tr>






<tr>
<th scope="row">content</th>
<td>포항 여행 흥해 대련 카페 포항시 산림조합 숲마을 카페 솔직 후기 푸릇 푸릇 이쁜 꽃과 풀들이 잔뜩 있는 기분 좋아지는 카페 추천 데이트, 가족 여행 추천 내돈내산 영업시간 11:30 - 20:00 *휴식시간 15:00 - 17:00... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/mikim55?Redirect=Log&logNo=222378972568'>https://blog.naver.com/mikim55?Redirect=Log&logNo=222378972568</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210407</td>
</tr>






<tr>
<th scope="row">title</th>
<td>단단한 사람의 고급 유머</td>
</tr>






<tr>
<th scope="row">content</th>
<td>어릴 때부터 냉소적인 유머를 좋아했다. 분명 뾰족하게 날이 벼려져 있는데, 강자나 사회시스템을 겨냥할 뿐 약자는 다치지 않는 유머에 온 마음을 다해 기립박수를 보낸다. 안타깝게도, 좋아하는 것과 잘하는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/lumi9?Redirect=Log&logNo=222301084215'>https://blog.naver.com/lumi9?Redirect=Log&logNo=222301084215</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>유머</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210521</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[영화 리뷰] 묘하게 기분 좋아지는 영상, &lt;분노의 질주 : 더... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>응, 묘하게 기분이 좋더라고. -관람 후 집으로 와 나눈 대화 유튜브에는 '묘하게 기분 좋아지는 영상'이라는 것들이 있습니다. 철끈을 무 자르듯 일정한 길이로 자른다거나, 케익 위에 크림이 자로 잰 듯... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jeonjunhan?Redirect=Log&logNo=222359410195'>https://blog.naver.com/jeonjunhan?Redirect=Log&logNo=222359410195</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210521</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[유 퀴즈 온 더 블럭] 보기만 해도 웃긴 홍진경과 딸 김라엘... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>홍진경은 나오기만 해도 웃긴데 아무래도 메인 보다는 이렇게 게스트로 나와야 더 웃긴 의외의 예능인이다. 개인적으로 홍진경의 예능감을 정말 좋아하지만 홍진경이 메인 MC 를 하지 않는 건 사업으로 바빠서일... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/fojesus?Redirect=Log&logNo=222359679915'>https://blog.naver.com/fojesus?Redirect=Log&logNo=222359679915</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210616</td>
</tr>






<tr>
<th scope="row">title</th>
<td>백종원 떡볶이, 기분 좋아지는 맵달함! 양념장 황금레시피!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>백종원 떡볶이, 기분 좋아지는 맵달함! 양념장 황금레시피! 최근에는 나래 입맛에 맞춰 떡볶이를 만들... 가라앉았던 기분이 수직상승하더라구요. ㅎㅎㅎ 역시 탄수화물 폭탄, 그것도 쫄깃하고 맵달한... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222400141624'>https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222400141624</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210204</td>
</tr>






<tr>
<th scope="row">title</th>
<td>산책로 추천 월령리 선인장자생지 다녀오면 기분 좋아지는 곳 ♪</td>
</tr>






<tr>
<th scope="row">content</th>
<td>귀여운 해녀가 벽화에 그려 있는데 보기만 해도 기분이 좋아지는 그림이었어요. 시니가니는 아직 아이들이라 그런지 이렇게 확~ 트인 곳을 보면 무조건 달리면서 노는 ㅋㅋㅋ 남편이 맨 뒤에서 오면서 가족들을... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/hyuna5071?Redirect=Log&logNo=222232114311'>https://blog.naver.com/hyuna5071?Redirect=Log&logNo=222232114311</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210614</td>
</tr>






<tr>
<th scope="row">title</th>
<td>뚝섬 텐트대여, 완벽한 한강피크닉 힐링텐트</td>
</tr>






<tr>
<th scope="row">content</th>
<td>피크닉대여세트, 힐링텐트 뚝섬점에 다 있다! 지난주 주말 쯤에 친구 효영과 뚝섬 피크닉을 다녀왔다. 한강 피크닉대여가 요즘 잘 되어 있다는 이야기를 듣고 좋다! 가자! 하고 바로 찾아간 곳은 바로 힐링텐트... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/thomas_train?Redirect=Log&logNo=222396990840'>https://blog.naver.com/thomas_train?Redirect=Log&logNo=222396990840</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210617</td>
</tr>






<tr>
<th scope="row">title</th>
<td>친구와 함께 뚝섬 한강공원 피크닉! 힐링텐트 뚝섬 텐트대여</td>
</tr>






<tr>
<th scope="row">content</th>
<td>&lt;힐링텐트 뚝섬점&gt; 힐링텐트 뚝섬점은 뚝섬유원지역과 가까운 곳에 있어요. 역에서 내려서 조금만 걸어가면 금방 나온답니다! 힐링텐트 건물 안에 들어가자마자 보이는 이것! 빌릴 수 있는 패키지가 정리되어... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/gkfngkfn414?Redirect=Log&logNo=222401380141'>https://blog.naver.com/gkfngkfn414?Redirect=Log&logNo=222401380141</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210516</td>
</tr>






<tr>
<th scope="row">title</th>
<td>용산마사지 더하노이 풋앤바디 용산점 힐링타임!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>그래서 저는 한 달에 1~2회 이상 주기적으로 마사지를 받음으로써 힐링하는 타임을 가져요. 내 몸을 생각해서 꼭 필요한 투자라고 생각합니다. 시원하게 근육을 풀어주고 나면 세상힐링 되죠! 이사 후 주변에... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/rlacofls63?Redirect=Log&logNo=222351046292'>https://blog.naver.com/rlacofls63?Redirect=Log&logNo=222351046292</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:50</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @_eptlrdl: 이거진짜웃긴데…
베이킹수업을시발 https://t.co/24S4vhgBB7</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>453</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:14</td>
</tr>

<tr>
<th scope="row">content</th>
<td>메타적 사유로 오너가 캐 옆에 오퍼시티 25%로 보일 때.. 넘웃긴</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:50:38</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @AB6IX_MEMBERS: teamLab:LIFE 전시회 다녀왔습니다
많은 영감을 받고 힐링하고 왔습니당~ㅎㅎ https://t.co/RHfYnwv3Mx</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>2312</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @GHOST9OFFICIAL: [#GHOST9]

YEAH 기분 좋은 걸 두 배로~~✨

잠시 후 오후 6시‼️
보는 순간 두 배로 기분이 좋아지는‼

고스트나인의 청량미 가득한 밤샜다 무대를 #Mnet #엠카운트다운 을 통해 만나실 수 있습니…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>101</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:44:14</td>
</tr>

<tr>
<th scope="row">content</th>
<td>약간 푼수끼잇는 유쾌한 유머감각잇는 전문직여성과 결혼하고싶다
남자복없는여성에게
여자복도없게만들어주고싶다</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>1</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>유머</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:45:27</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @jayko2020: [뉴있저] '지평선' 10원 한 장' 윤석열 잇단 논란에도 "내 갈 길 간다" / YTN https://t.co/RhubqaFFyT - @YouTube 정치 중립 의무 전 검찰총장 윤석열 ,, 대선 출마,, 민주주의 욕 되…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>3</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @my178cm: 알엠과슈가가 나를 자랑스러워하는 사진이래…
너무어이업고웃긴와중에 자존감상승함 https://t.co/Zhh2y77p2I</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1019</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 15:59:33</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @GHOST9OFFICIAL: [#GHOST9]

YEAH 기분 좋은 걸 두 배로~~✨

잠시 후 오후 6시‼️
보는 순간 두 배로 기분이 좋아지는‼

고스트나인의 청량미 가득한 밤샜다 무대를 #Mnet #엠카운트다운 을 통해 만나실 수 있습니…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>101</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:42:45</td>
</tr>

<tr>
<th scope="row">content</th>
<td>솔직히 독일식 유머 3번 볼때마다 불쾌하고 어딘가 불편하긴 한데 그 장면 묘사를 통해서 그 총통을 엄청 조롱하는 느낌임,, 풍자,,랄까 그치만 그 넘버 할 때마다 약간 나갔다 오고싶고,, 이런걸 스콜 준 제작사가 미움</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>2</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>유머</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:46:34</td>
</tr>

<tr>
<th scope="row">content</th>
<td>역시... 들으면 기분 좋아지는 노래 https://t.co/Pzhnq4LvRi</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<br><br>

    
</section>
</div>
</body>



</html>