<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210520</td>
</tr>






<tr>
<th scope="row">title</th>
<td>데이터 시대의 탄소중립 실현</td>
</tr>






<tr>
<th scope="row">content</th>
<td>탄소중립이란 인간이 배출하는 온실가스 양을 줄이고, 줄이지 못한 분량은 최대한 제거해 실질적인 탄소 배 출량을 '0'으로 만들자는 것인데요. 국제사회는 2050년까지 탄소중립을 달성해 2100년까지 지구... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/energium?Redirect=Log&logNo=222358303942'>https://blog.naver.com/energium?Redirect=Log&logNo=222358303942</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210531</td>
</tr>






<tr>
<th scope="row">title</th>
<td>탄소중립 관련주 주식분석 및 주가 :: 신성이엔지, 한솔홈데코... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>탄소중립의 부상 5월 30일 P4G (녹색성장과 글로벌 목표 2030을 위한 연대) 정상회의가 서울에서 개최되었습니다. 이번 회의의 핵심 의제는 '탄소중립'인데요. 탄소중립: 인간의 활동에 의한 온실가스 배출을... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/dkdud0727?Redirect=Log&logNo=222376873741'>https://blog.naver.com/dkdud0727?Redirect=Log&logNo=222376873741</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>대전시의 2050 탄소중립 실현, 삶이 건강한 산소도시 대전!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>2021 P4G 서울 정상회의 개최 의제 : 포용적인 녹색회복을 위한 탄소중립 비전실현 '2021 P4G 서울... P4G의 정의 (출처=P4G 누리집) 핵심의제는 바로 ‘포용적인 녹색회복을 위한 탄소중립 비전실현’입니다.... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/mopaspr?Redirect=Log&logNo=222384451992'>https://blog.naver.com/mopaspr?Redirect=Log&logNo=222384451992</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210531</td>
</tr>






<tr>
<th scope="row">title</th>
<td>탄소중립 관련주 : 그린케미칼, 에코바이오,  KC코트렐 주가</td>
</tr>






<tr>
<th scope="row">content</th>
<td>오늘은 그중에서도 탄소중립에 대하여 알아보고, 탄소중립 관련주는 어떤 것들이 있는지 알아보도록 하겠습니다.^^ 저는 탄소중립에 대하여 큰 관심은 없었는데요, 작년부터 태양광발전소를 운영하면서... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/iamzzimi?Redirect=Log&logNo=222377116841'>https://blog.naver.com/iamzzimi?Redirect=Log&logNo=222377116841</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[탄소중립 및 기후위기]지속가능한 삶, 지속가능한 건강... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>지속 가능한 삶, 지속 가능한 건강, 지구를 위한 채식 얼마 전에 청소년에게 탄소중립과 기후 위기에 대한 교육을 진행했어요. 청소년 친구들은 탄소중립이란 단어는 잘 몰랐지만, 지금 살고 있는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/gnbongsa?Redirect=Log&logNo=222384850747'>https://blog.naver.com/gnbongsa?Redirect=Log&logNo=222384850747</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210504</td>
</tr>






<tr>
<th scope="row">title</th>
<td>“바로 지금, 나부터!” 2050 탄소 중립 실천 선언식</td>
</tr>






<tr>
<th scope="row">content</th>
<td>지구의 날을 맞이해 시민들이 탄소중립을 행동으로 옮길 수 있도록 5가지 실천을 선언하는 ‘2050 탄소중립 실천 선언식’이 개최되었습니다. 지난 4월 22일, 서울 강남구 코엑스 아셈볼룸에서 열렸는데요. 살균... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/mesns?Redirect=Log&logNo=222337713411'>https://blog.naver.com/mesns?Redirect=Log&logNo=222337713411</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210603</td>
</tr>






<tr>
<th scope="row">title</th>
<td>다시보는 '2050 탄소중립 실현을 위한 농식품 기술혁신' 국제... </td>
</tr>






<tr>
<th scope="row">content</th>
<td>▲ '2050 탄소중립 실현을 위한 농식품 기술혁신' 국제 심포지엄 2021 P4G 서울 정상 회의(5월 30일~31일)에... 탄소중립 실현을 위한 농식품 기술혁신’이라는 주제로 ZOOM 플랫폼을 통한 화상회의로... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/rda2448?Redirect=Log&logNo=222382446836'>https://blog.naver.com/rda2448?Redirect=Log&logNo=222382446836</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210604</td>
</tr>






<tr>
<th scope="row">title</th>
<td>핸드폰·컴퓨터 화면의 다크모드, 탄소중립에 도움이 될까?</td>
</tr>






<tr>
<th scope="row">content</th>
<td>탄소중립에 도움이 될까요? 다크모드는 배터리의 전력 소모를 줄여주기 때문에 에너지 사용을 줄여줌으로써 탄소중립에 도움이 될 수 있습니다 단 OLED 화면을 사용하는 기기에만 적용됩니다 LCD 화면은... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/greenstartkr?Redirect=Log&logNo=222384200447'>https://blog.naver.com/greenstartkr?Redirect=Log&logNo=222384200447</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210513</td>
</tr>






<tr>
<th scope="row">title</th>
<td>탄소중립 견인할 기술혁신</td>
</tr>






<tr>
<th scope="row">content</th>
<td>전세계가 '탄소중립'을 위해 움직이고 있습니다. 우리나라도 2050 탄소중립을 달성하기 위해 기후행동을 선언하고 적극 대응하고 있죠. 탄소중립을 위한 기후행동 실천 항목은 ‘에너지 전환’, ‘저탄소... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/with_msip?Redirect=Log&logNo=222349269553'>https://blog.naver.com/with_msip?Redirect=Log&logNo=222349269553</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210524</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[인천 탄소중립 숲] 탄소제로 도시를 위해 모두 힘을 합쳐요!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>인천 월미공원 대나무 숲과 석남녹지의 '탄소중립 숲' 인천시가 탄소제로 도시를 향해 박차를 가하고... 또한 “파리협정의 목표 달성과 2050년 탄소중립 실현을 위한 정책적 노력을 기울일 것”이라고 했습니다.... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/incheontogi?Redirect=Log&logNo=222363677170'>https://blog.naver.com/incheontogi?Redirect=Log&logNo=222363677170</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>강원도, 국내에서 여섯번째로
탈석탄동맹(PPCA) 가입 서명식 진행!
⠀
강원도는 기후위기 대응을 논의하는 등
지방정부 차원의 탈석탄정책을 통한
기후변화 대응 의지를 밝히고
강원형 2040 탄소중립 실현을… https://t.co/Cgb3YCLaWV</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:35:45</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @4am_sandlake: 록맨캐들 d&amp;d성향 생각해보기~
질서선:록
중립선:롤
혼돈선:브루스
질서중립:듀오
완전중립:Dr.코사크
혼돈중립:포르테
질서악:킹
중립악:스네이크
혼돈악:Dr.와일리</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>6</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:03</td>
</tr>

<tr>
<th scope="row">content</th>
<td>우라라는 질서 선 
메이는 질서 중립! https://t.co/Ayd6zVlgbB</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:39:02</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @chwalseu_: 옛날
여성의 참정권을 보장해달라

현재
여성의 화장실을 성중립 화장실로 만들지말라

발전이 샹 100년이 지나도록 발전이 좆팔롬들아</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>11</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:34:16</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @brokentastecooc: 산림청에서 문정권에서 오히려 전보다 벌목을 덜하고 있으며, 사진에 나온 것은 가짜뉴스 주장처럼 정부에서 시행한 탄소중립을 위한 대규모 벌목 사업 일환 같은게 아닙니다 그런 건 없습니다! 수입목재가 아닌 국내목재를…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>116</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:35:57</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @4am_sandlake: 록맨캐들 d&amp;d성향 생각해보기~
질서선:록
중립선:롤
혼돈선:브루스
질서중립:듀오
완전중립:Dr.코사크
혼돈중립:포르테
질서악:킹
중립악:스네이크
혼돈악:Dr.와일리</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>6</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:28:40</td>
</tr>

<tr>
<th scope="row">content</th>
<td>류정한이 연애를 한다는 게 넘 어색함...
그것도 21살이랑...
그것도 혼돈악이랑... 지금은 중립악
그것도 조폭이랑....</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>4</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:37:59</td>
</tr>

<tr>
<th scope="row">content</th>
<td>엑스 갠적으로 질서선/중립선 둘 다인데 헌터로서는 전자 엑스 본인으로서는 후자일거같음 ㅋㅋㅋ</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:37:32</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @4am_sandlake: 록맨캐들 d&amp;d성향 생각해보기~
질서선:록
중립선:롤
혼돈선:브루스
질서중립:듀오
완전중립:Dr.코사크
혼돈중립:포르테
질서악:킹
중립악:스네이크
혼돈악:Dr.와일리</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>6</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:38:06</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @brokentastecooc: 산림청에서 문정권에서 오히려 전보다 벌목을 덜하고 있으며, 사진에 나온 것은 가짜뉴스 주장처럼 정부에서 시행한 탄소중립을 위한 대규모 벌목 사업 일환 같은게 아닙니다 그런 건 없습니다! 수입목재가 아닌 국내목재를…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>116</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">

<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

    <embed src="https://www.instagram.com/p/CP4tZniH8KM/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP4s5fPnVXE/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP1tdAkLhH2/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP2MImjHM5S/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>


<!--    <img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" />-->




<!--<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>-->
<!--<img src="" align="center" />-->



<!--    -->
</section>
</div>
</body>



</html>