<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210615</td>
</tr>






<tr>
<th scope="row">title</th>
<td>속초 배낚시 청해호 힐링했네요 (고성 배낚시)</td>
</tr>






<tr>
<th scope="row">content</th>
<td>탁 트인 바다에 나와서 풍경 구경도 하고 잔잔한 바닷소리도 듣고 실내에서 하는 체험보다 이렇게 야외에 나오니까 다 같이 힐링 되는 기분이었죠. 배 안에 의자도 있어서 편하게 앉아서 고성 배낚시를 즐겼고... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/choi9271?Redirect=Log&logNo=222399140945'>https://blog.naver.com/choi9271?Redirect=Log&logNo=222399140945</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210407</td>
</tr>






<tr>
<th scope="row">title</th>
<td>단단한 사람의 고급 유머</td>
</tr>






<tr>
<th scope="row">content</th>
<td>어릴 때부터 냉소적인 유머를 좋아했다. 분명 뾰족하게 날이 벼려져 있는데, 강자나 사회시스템을 겨냥할 뿐 약자는 다치지 않는 유머에 온 마음을 다해 기립박수를 보낸다. 안타깝게도, 좋아하는 것과 잘하는... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/lumi9?Redirect=Log&logNo=222301084215'>https://blog.naver.com/lumi9?Redirect=Log&logNo=222301084215</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>유머</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20201125</td>
</tr>






<tr>
<th scope="row">title</th>
<td>기분 좋아지는 부천 회식</td>
</tr>






<tr>
<th scope="row">content</th>
<td>기분 좋아지는 부천 회식 안녕하세요 블로거 첼홉이에요 지난주 팀끼리 밥 먹기로 한 약속이 있어서 부천 회식 장소를 찾다가 소고기 무한리필 가게를 찾았어요. 질도 높았고 맛도 훌륭해 단골 예약이에요!... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/eunjihello?Redirect=Log&logNo=222153868987'>https://blog.naver.com/eunjihello?Redirect=Log&logNo=222153868987</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210616</td>
</tr>






<tr>
<th scope="row">title</th>
<td>초지동마사지 엄마랑 힐링했어요!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>어쩐지 바뀐 것 같아 내심 죄송스러웠지만, 그래도 좋은 기회니 엄마랑 같이 힐링받고 왔네요! 동네에... 재미있게 힐링받고 관리도 받고 그럴 수 있을 것 같아요! 중간에 깜빡 깜빡 졸기 바빴는데 관리가 너무... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jsn228?Redirect=Log&logNo=222399680104'>https://blog.naver.com/jsn228?Redirect=Log&logNo=222399680104</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210203</td>
</tr>






<tr>
<th scope="row">title</th>
<td>기분까지 좋아지는 꽃, 금잔화키우기</td>
</tr>






<tr>
<th scope="row">content</th>
<td>노랑노랑~(혹은 주황) 기분까지 좋아지는 꽃 금잔화 키우는법에 대해서 알아보려고 합니다. 봄화단을 상콤~하게 만들어주는 꽃이에요^^ 키우는게 그다지 어렵지 않아서 초보 가드너분들에게 강추추... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/julyhoho?Redirect=Log&logNo=222230238227'>https://blog.naver.com/julyhoho?Redirect=Log&logNo=222230238227</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210530</td>
</tr>






<tr>
<th scope="row">title</th>
<td>세븐틴 웃긴 짤 모음 2탄</td>
</tr>






<tr>
<th scope="row">content</th>
<td>사진첩 정리 겸 푸는 세븐틴 웃긴짤 2탄 고기 와아아아앙 야무지게 싸서 먹는 돌쫑이 아빠 사건의 전말 반려돌 입양한 정한이 평소 아기자기한 거 좋아하는 편 원우가 동생임 세븐틴 입덕했을 때 누가 형인지... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/yerim1013?Redirect=Log&logNo=222375436904'>https://blog.naver.com/yerim1013?Redirect=Log&logNo=222375436904</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20200520</td>
</tr>






<tr>
<th scope="row">title</th>
<td>MBTI 유형별 &quot;사랑해&quot; 말하는 시점 / 영어유머</td>
</tr>






<tr>
<th scope="row">content</th>
<td>영어유머 차원에서 한 번 알아보겠습니다. :D 요즈음 MBTI 유형별 OOO 이라고 트위터나 일반... 영어유머 가 생각보다 상당수 더 나와있는 상황입니다 그렇다면 먼저 MBTI 가 뭐고 그 유형이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/yanadooblog?Redirect=Log&logNo=221971741868'>https://blog.naver.com/yanadooblog?Redirect=Log&logNo=221971741868</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>유머</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210312</td>
</tr>






<tr>
<th scope="row">title</th>
<td>기분 좋아지는 천안 불당동 맛집</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이렇게 잘 차려진 사시미를 받으니 대접 받는 것 같아 기분이 참 좋아지는 식사자리 였던 것 같아요. 천안 불당동 맛집의 사시미는 이렇게 다양하고, 게다가 보기만 해도 진짜 신선했어요. 한번 숙성한... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/loowowool?Redirect=Log&logNo=222273094713'>https://blog.naver.com/loowowool?Redirect=Log&logNo=222273094713</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210514</td>
</tr>






<tr>
<th scope="row">title</th>
<td>한국 × 외국 웃긴 코미디 영화 추천 5편</td>
</tr>






<tr>
<th scope="row">content</th>
<td>각자의 주관대로 배꼽 빠지게 만든 한국과 인도, 미국, 영국, 홍콩까지 외국의 웃긴 코미디 영화를 추천... 서로 주제를 토론한 결과 오늘의 주제는 배꼽을 붙잡게 만드는 웃긴 코미디 영화입니다. 선택한 다섯... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/luckymasiwoo?Redirect=Log&logNo=222350711704'>https://blog.naver.com/luckymasiwoo?Redirect=Log&logNo=222350711704</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210616</td>
</tr>






<tr>
<th scope="row">title</th>
<td>백종원 떡볶이, 기분 좋아지는 맵달함! 양념장 황금레시피!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>백종원 떡볶이, 기분 좋아지는 맵달함! 양념장 황금레시피! 최근에는 나래 입맛에 맞춰 떡볶이를 만들... 가라앉았던 기분이 수직상승하더라구요. ㅎㅎㅎ 역시 탄수화물 폭탄, 그것도 쫄깃하고 맵달한... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222400141624'>https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222400141624</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:52:11</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @newbookstore24: 신간서점 북토크. ‘오늘의 섬을 시작합니다’를 쓴 강지혜 작가님과 함께합니다. 같이 힐링해요 (내향인이라면 줌채팅 환영) 오픈채팅방으로 입장해주시면 됩니다. 리트윗해주신 분들께 스벅아아 쏠게요. (1분, 18일)…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>46</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:50:46</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @AB6IX_MEMBERS: teamLab:LIFE 전시회 다녀왔습니다
많은 영감을 받고 힐링하고 왔습니당~ㅎㅎ https://t.co/RHfYnwv3Mx</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>2312</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:41</td>
</tr>

<tr>
<th scope="row">content</th>
<td>아니...헬멧 실물로 보니까 좀 웃긴 
색깔이 왤케 희끄무리하냐 https://t.co/dZBFssaSEN</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 15:59:33</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @GHOST9OFFICIAL: [#GHOST9]

YEAH 기분 좋은 걸 두 배로~~✨

잠시 후 오후 6시‼️
보는 순간 두 배로 기분이 좋아지는‼

고스트나인의 청량미 가득한 밤샜다 무대를 #Mnet #엠카운트다운 을 통해 만나실 수 있습니…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>101</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:22</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @present_ocean: 수요 ¹

휴가 보내기 제일 좋은 곳은 바로 여기, 이름 없는 섬이죠! 장점은... 이 여행 패키지를 통해 알아보는 걸로 하죠!

05 | 일상 힐링 | TWT | 7D | All CP, 종족 | 실사 제외 모든 인…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>1</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:45:27</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @jayko2020: [뉴있저] '지평선' 10원 한 장' 윤석열 잇단 논란에도 "내 갈 길 간다" / YTN https://t.co/RhubqaFFyT - @YouTube 정치 중립 의무 전 검찰총장 윤석열 ,, 대선 출마,, 민주주의 욕 되…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>3</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>중립</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>중립</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:52</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @SUPADUPA_2P: 수요²

우리 좀 가깝다?
아, 그래? ... 미안.

05 17금 3D HL 실사인장 글 TWT 일상힐링 계정생성제 사랑을 탐구하는 미스터리 추리부 7월 2일 개장 https://t.co/xxS1Mt3ZeT</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>3</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힐링</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:28</td>
</tr>

<tr>
<th scope="row">content</th>
<td>근데 둘이 연애하는 사이도 아니란 말임 기분 나쁠 이유도 없는데 맠 괜히 찝찝해지고 기분 안좋아지는데 젠이랑 천은 그것도 모르고 다음에 할때 또 자국 남기고... 자국 많아지는 만큼 몸 정 쌓여서 둘 결국… https://t.co/WsxOd1DsNA</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>1</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 16:51:49</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @1m_frozen: 인용으로 웃긴 연뮤 짤 올리기</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>297</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>웃긴</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-06-17 15:53:47</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @cryssi_diedie: 온녕이 잘 싸우는 거 보고는 자기가 필요 없을 것 같다며 약간 시무룩하더니, 모 선배 찾는 소년 수사들 보고 씩 웃으면서 다시 기분 좋아지는 위무선.

자신의 존재가 필요한지 하지 않은지 항상 생각하는 것 같은 느낌…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>4</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>기분 좋아지는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>슬픔</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<br>

<embed src= "https://www.instagram.com/p/CFUpPLmlngN/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="550px" width="80%" >


<embed src= "https://www.instagram.com/p/CP3R7CYhDkl/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="550px" width="80%" >


<embed src= "https://www.instagram.com/p/CFUcN4glngh/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="550px" width="80%" >


<embed src= "https://www.instagram.com/p/CP3GuiHHpUZ/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="550px" width="80%" >


<embed src= "https://www.instagram.com/p/CP4IpEKFaUs/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="550px" width="80%" >


    
</section>
</div>
</body>



</html>